<div class="header">
  <div class="wrapper">
    <div class="flex">
      <p class="logo">Test Table</p>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="filter">
    <button class="filter__btn" (click)="openOptions()">sort by:</button>
    <div class="filter__options" *ngIf="isOptions">
      <div 
        class="filter__option" 
        *ngFor="let option of options" 
        (click)="filterRating(option.value)"
      >
        {{option.name}}
      </div>
    </div>
    <div class="filter__bg" *ngIf="isOptions" (click)="closeOptions()"></div>
  </div>

  <table>
    <tr class="tr_head">
      <td></td>
      <td>Rating</td>
      <td>Reviews count</td>
      <td>Nomenclature</td>
      <td>Sku</td>
      <td>Name</td>
      <td>Brand name</td>
      <td>Ordered</td>
      <td>Sold quantity</td>
      <td>Sold amount</td>
      <td>Ordered amount</td>
      <td>Availability</td>
    </tr>
    <tr class="tr" *ngFor="let product of products">
      <td><img src={{product.image}} alt="img"></td>
      <td>{{product.wbRating}}</td>
      <td>{{product.reviewsCount}}</td>
      <td>{{product.nomenclature}}</td>
      <td>{{product.sku}}</td>
      <td>{{product.name}}</td>
      <td>{{product.brandName}}</td>
      <td>{{product.ordered}}</td>
      <td>{{product.soldQuantity}}</td>
      <td>{{product.soldAmount}}</td>
      <td>{{product.orderedAmount}}</td>
      <td>{{product.availability}}</td>
    </tr>
  </table>

  <div class="pagination">
    <div class="pagination__empty"></div>
    <div class="pagination__pages">
      <button class="pagination__btn_prev" (click)="prevPage()"></button>
      <p class="pagination__title_page">page {{page}} of {{productsPages}}</p>
      <button class="pagination__btn_next" (click)="nextPage()"></button>
    </div>
    <div class="pagination__items">
      <p class="pagination__title_item">items per page:</p>
      <button class="pagination__btn_item" (click)="getProducts(page, 5)">5</button>
      <button class="pagination__btn_item" (click)="getProducts(page, 10)">10</button>
      <button class="pagination__btn_item" (click)="getProducts(page, 15)">15</button>
    </div>
  </div>
</div>